<div class="main_header">
    <div class="sub_header mode-desktop">
        <div class="logo_space"></div>
        <div class="logo_container">
            <img src="/assets/images/sdu-logo-black.svg" alt="">
            <img src="/assets/images/ISPARTALOGO.png" alt="">
        </div>
        <div class="title_container">
            <h4 class="big-title">International Conference on Computing and Communication Networks (ICCCN): An
                Indo-Turkey Conference <br />
                Jointly organized by Suleyman Demirel University, Turkey and Isparta Applied Sciences University
                <br /> 19th NOVEMBER,2021
            </h4>
        </div>
        <div class="sidebar_toggler">
            <div class="ham"></div>
            <div class="ham"></div>
            <div class="ham"></div>
        </div>
    </div>
    <div class="sub_header mode-mobile">
        <div class="row">
            <div class="logo_container">
                <img src="/assets/images/sdu-logo-black.svg" alt="">
                <img src="/assets/images/ISPARTALOGO.png" alt="">
            </div>
            <div class="sidebar_toggler-mobile">
                <div class="ham"></div>
                <div class="ham"></div>
                <div class="ham"></div>
            </div>
        </div>
        <div class="row">
            <h4 class="big-title">International Conference on Computing and Communication Networks (ICCCN): An
                Indo-Turkey Conference
            </h4>
        </div>
    </div>
</div>